# Copyright (c) 2015 Ansible, Inc. (formerly AnsibleWorks, Inc.)
# All Rights Reserved.

# Local Django settings for AWX project.

# This file is loaded by Dynaconf from awx/settings.py 
# dynaconf reads only the UPPER case variables from this file
# To customize existing settings use dynaconf merging syntax
# e.g: 
# DATABASES__default__NAME = 'custom_db_name'
# LOGGING__handlers__console__level = 'DEBUG'
# 
# For more complex conditionals use Dynaconf Post Hook.

###############################################################################
# MISC PROJECT SETTINGS
###############################################################################

# Enable the following lines and install the browser extension to use Django debug toolbar
# if your deployment method is not VMWare of Docker-for-Mac you may
# need a different IP address from request.META['REMOTE_ADDR']
# INTERNAL_IPS = ('172.19.0.1', '172.18.0.1', '192.168.100.1')
# ALLOWED_HOSTS = ['*']

# The UUID of the system, for HA.
SYSTEM_UUID = '00000000-0000-0000-0000-000000000000'

{% if api_urlpattern_prefix | length > 0 %}
OPTIONAL_API_URLPATTERN_PREFIX = '{{ api_urlpattern_prefix }}'
{% endif %}

# If set, use -vvv for project updates instead of -v for more output.
# PROJECT_UPDATE_VVV=True

###############################################################################
# LOGGING SETTINGS
###############################################################################

# Enable logging to syslog. Setting level to ERROR captures 500 errors,
# WARNING also logs 4xx responses.

# Enable the following lines to turn on lots of permissions-related logging.
# LOGGING__loggers = {
#     "dynaconf_merge": True,
#     'awx.main.access': {'level': 'DEBUG'},
#     'awx.main.signals': {'level': 'DEBUG'},
#     'awx.main.permissions': {'level': 'DEBUG'},
#     # Enable the following line to turn on database settings logging.
#     # "awx.conf": {'level': 'DEBUG'}
# }

{% if enable_otel|bool %}
LOGGING__handlers__otel__class = 'awx.main.utils.handlers.OTLPHandler'
LOGGING__handlers__otel__endpoint = 'http://otel:4317'

from dynaconf import post_hook


@post_hook
def set_log_handlers(settings) -> dict:
    """Defers the setting of log handlers until after the settings are fully loaded.
    this function is registered as a dynaconf hook, 
    this must return a dict that will be merged into the settings.
    NOTE: `settings` is a read-only that contains the settings loaded so far. 
    """
    data = {}
    if (logging := settings.get('LOGGING')) is not None:
        loggers = logging.get('loggers', {})
        
        # Add otel log handler to all log handlers where propagate is False
        for logger in loggers.values():
            if logger.get('propagate', True):
                continue
            if (handlers := logger.get('handlers')) is not None:
                if 'otel' not in handlers:
                    handlers.append('otel')


        # Everything without explicit propagate=False ends up logging to 'awx' so add it
        if (handlers := loggers.get('awx', {}).get('handlers')) is not None:
            if 'otel' not in handlers:
                handlers.append('otel')

        data['LOGGING'] = logging
    return data
{% endif %}

BROADCAST_WEBSOCKET_PORT = 8013
BROADCAST_WEBSOCKET_VERIFY_CERT = False
BROADCAST_WEBSOCKET_PROTOCOL = 'http'

STATIC_URL = '{{ (ingress_path + '/static/').replace('//', '/') }}'
