git+https://github.com/ansible/system-certifi.git@devel#egg=certifi
# Remove pbr from requirements.in when moving ansible-runner to requirements.in
git+https://github.com/ansible/ansible-runner.git@devel#egg=ansible-runner
django-ansible-base [rest-filters,jwt_consumer,resource-registry,rbac,feature-flags] @ git+https://github.com/ansible/django-ansible-base.git@devel
awx-plugins-core [credentials-github-app] @ git+https://github.com/ansible/awx-plugins.git
awx_plugins.interfaces @ git+https://github.com/ansible/awx_plugins.interfaces.git
